.calendar {
	overflow: auto;
	max-height: 650px;
	margin-top: var(--s-5);
}

.grid {
	display: grid;
	grid-template-columns: 64px repeat(7, minmax(120px, 1fr));
	min-width: max-content;
	border-right: 1px solid var(--c-border);
	border-bottom: 1px solid var(--c-border);
	background: #f8f9fa;
	position: relative;
}

.corner {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 4;
	background: #f8f9fa;
	border: 1px solid var(--c-border);
	border-left: none;
}

.dayHeader {
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: #f8f9fa;
	border: 1px solid var(--c-border);
	border-left: none;
	text-align: center;
	font-weight: 600;
	padding: var(--s-2) 0;
}

.dayHeader:nth-child(8) {
	border-right: none;
}

.timeCell {
	position: sticky;
	left: 0;
	z-index: 3;
	background-color: #f7f7f5;
	border-right: 1px solid var(--c-border);

	font-size: var(--fs-1);
	font-weight: 300;
	letter-spacing: 0.05em;
	text-align: center;
}

.cell {
	background-color: var(--c-surface);
	height: 80px;
	border-right: 1px solid var(--c-border);
	border-bottom: 1px solid var(--c-border);
	z-index: 1;
}

.cell:nth-child(8n) {
	border-right: none;
}

@media (min-width: 768px) {
}
