.shell {
	display: grid;
	height: 100vh;
	overflow: hidden;
}

.main {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-bottom: 60px;
}

@media (min-width: 768px) {
	.main {
		padding-bottom: 0;
	}
}

@media (min-width: 768px) {
	.shell {
		grid-template-columns: 160px 1fr;
	}
}
